// https://frontendmantra.com/using-next-js-with-styled-components-easy-way/

{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true, "displayName": true, "preprocess" :false}]]
}
